@font-face {
    font-family: Open-sans;
    src: url(Fonts/OpenSans-Regular.ttf)
}

* {
    margin: 0;
    padding: 0;
    font-family: Open-sans;
    font-weight: 550;
}

body {
    background-color: rgb(34, 37, 41);
}

.Header {
    background-color: rgb(34, 37, 41);
}

.ProfileRight {
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    
}
.ProfileMain {
    padding-top: 30vh;
    padding-bottom: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ProfileDivider{
    margin-left: 50px;
    background-color: rgb(255, 255, 255);
    height: 200px;
    width: 1.5px;
    border-radius: 5px;
    user-select: none;
}
.ProfileUserName {
    margin-top: 3px;
    color: white;
    font-size: 30px;
    font-weight: 700;
}

.ProfileuserTag {
    font-size: 20px;
    margin-top: 6px;
    color: rgb(213, 213, 213);
}

.ProfileAbout {
    margin-top: 8px;
    color: rgb(139, 138, 138);
    font-size: 18px;
}

.ProfileAbout span {
    color: rgb(192, 192, 192);
}

.ProfilePicture {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ProfilePicture h1{
    margin-top: 15px;
    color: rgb(192, 192, 192);
    font-size: 20px;
}

.ProfilePicture img{
    padding-top: 10px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: none;
    user-select: none;
}


.ContactsMain {
    display: flex;
    user-select: none;
    margin: -5px;
    padding: 0;
    margin-top: 10px;
}

.ContactIcons img{
    width: 50px;
    opacity: 0.3;
}

footer {
    background-color: rgb(34, 37, 41);
    margin-top: 20vh;
    margin-bottom: 1vh;
}

footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(108, 108, 108);
}

@media (max-width: 600px) {
  .ProfileMain {
    padding-top: 18vh;
    flex-direction: column;
    padding-bottom: 10vh;
  }

  .ProfileDivider {
    width: 250px;
    height: 2px;
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(165, 165, 165);
  }

  .ProfileUserName {
    font-size: 23px;
    margin-right:10px;
    }
    .ProfileAbout {
    margin-top: 8px;
    font-size: 16px;
    margin-right:20px;
    }
    .ProfileuserTag {
    font-size: 15px;
    color: rgb(213, 213, 213);
    }
}

@media (max-width: 400px) {
  .ProfileRight{
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
  }
  .ProfileUserName {
    font-size: 19px;
    margin-left: 25px;
    }

    .ProfileAbout {
    margin: 0;
    padding: 0;
    margin-top: 5px;
    margin-left: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 15px;
    
    }

    
    .ProfileuserTag {
    margin:0;
    padding: 0;
    }
}

@media (max-width: 700px) {
  .ProfileRight h1 br{
    display: none;
  }
}

@media (max-width: 500px) {
  .ProfileRight h1 br{
    display: none;
  }
}

